/*.iml
/*.ipr
/*.iws
/.gradle
/.factorypath
/.idea
/.project
/.settings
/nb*
/release.properties
/target
/plugin/build*
/plugin/.gradle/
build*
/example/generated/java/
# These are needed if running in IDE without properties set
/ibderby
derby.log
/bin/
.mvn/wrapper/maven-wrapper.jar
.sts4-cache/
